/* You can add global styles to this file, and also import other style files */
body
{
    padding-top: 40px;
    font-family: 'Futura';
}

@font-face {
    font-family: 'Futura';
    src: url("/assets/fonts/futura/FuturaStd-Medium.otf");
}

@font-face{
    font-family: 'old';
    src: url("/assets/fonts/FeENrm28C.otf");
}

.font-mont{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.font-futura{
    font-family: 'Futura';
}

.font-old{
    font-family: 'old';
}

