<div class="container">
  <h2>My trips</h2>
  <div class="row">
    <div *ngFor="let trip of trips" class="card col-12 col-sm-6 col-md-4">
      <div class="card-body">
        <h4 class="card-title">{{trip.title}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Created {{trip.creationDate | date : medium}}</h6>
        <p class="card-text">
          From {{formatAddress(trip.route.origin)}} <br>
          To {{formatAddress(trip.route.destination)}}
        </p>
        <button class="btn btn-outline" (click)="handleClick(trip)">View/edit</button>
      </div>
    </div>
  </div>
</div>
