

<div class="container font-mont">
  <div class="row">
    <div class="col-m-4 center-block">
      <div class="panel panel-default form-group text-center loginStyle" >
        <div class="panel-body">
          <h1>Login</h1>
          <input type="text" placeholder="Username" id="username" name="username" class="form-control justify-content-center">
          <input type="password" placeholder="Password" id="password" name="password" class="form-control justify-content-center" style="margin-top:2px">
          <div style="padding:10px">
            <button class="old" id="none">Login</button>
          </div>
          <div style="color:red" hidden="true" id="loginError"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 text-center webTitleStyle"  >
      <div >
        <p> <span style="color:black">Way</span><span style="color:black">finder</span></p>
      </div>
      <div style="font-size:15px;">
        <p> <span style="color:black;">find your </span><span style="color:black">own way.&trade;</span></p>
      </div>
    </div>
    <div class="col-lg-4"></div>
    <picture>
      <source media="(min-width: 480px)" srcset="../../../assets/images/guy.gif" >
      <source media="(max-width: 480px)" srcset="../../../assets/images/guycrop.gif"> 
        <img src="../../../assets/images/floor.png" alt="" class="loginImage">
    </picture>
  </div>
</div>