<ng-template #content let-dismiss="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Register</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Username</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="username" required>
      </div>
      <div class="input-group mb-3 ">
        <div class="input-group-prepend ">
          <span class="input-group-text " id="basic-addon1 ">Password</span>
        </div>
        <input type="password" class="form-control " [(ngModel)]="password" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">First Name</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="firstName" required>
      </div>
      <div class="input-group mb-3 ">
        <div class="input-group-prepend ">
          <span class="input-group-text " id="basic-addon1 ">Last Name</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="lastName" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Email</span>
        </div>
        <input type="email" class="form-control" [(ngModel)]="email" required>
      </div>
    </div>
  </div>
  <div class=" modal-footer ">
    <button type="button " class="btn btn-outline-primary" (click)="closeModal() ">Submit</button>
  </div>
</ng-template>