a {
    cursor: pointer;
}

.navbar {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.navbar-offset {
    top: -40px; /*Offsets the top navbar 40px from the top of the viewport*/
}
.navbar-container-color {
    background-color: #7DAA92;
}
.logo-config {
    height: 65px;
    width: 65px;
}
.font-mont{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.font-futura{
    font-family: 'Futura';
}
.web-title {
    font-size:30px;
    }
.web-item {
    font-size:20px;
}
.between-navbar {
    padding-right: 5px;
}
.after-image {
    padding-right: 10px;
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:0px !important; padding-bottom:0 !important;
}
.navbar-nav > li > a, .nav-item {
    padding-top:0px !important; padding-bottom:0 !important;
}
