<nav class="navbar navbar-expand-lg navbar-light navbar-container navbar-fixed-top">
  <div class="container-fluid row">
    <div class="col col-1">
      <img src="assets/flagart1.png" class="nav-item logo-config">
    </div>
    <div class="collapse navbar-collapse col col-11 font-mont" id="navbarNavAltMarkup">
        <a class="navbar-brand align-text-middle font-mont web-title navbar-text" (click)=null><span style="color:black">Way</span><span style="color:black">finder</span></a>
        <a class="nav-item between-navbar web-item active" (click)=null disabled>Home</a>
        <a class="nav-item between-navbar web-item" (click)=null>User Page</a>
        <a class="nav-item topnav-right web-item" (click)=null>Log Out</a>
      </div>
  </div>
</nav>