.btn{
    background-color:#5F464B;
    color:white
}

.bigCompass{
    position: absolute;
    right: 0%;
    top: 13%;
    width:45%;
    opacity:.3;
    height:85%;
    transform-origin: 50% 70%;
    z-index: -1;
}

.userpageBackground{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0%;
    z-index:-1;
    opacity: .6;
    transform-origin: 50% 50%;

}

.userpageform{
    background-color:rgba(255, 255, 255, 0.637);
}

